* {
    margin: 0;
    padding: 0;
}

:root{
    --corDosLinks: #DB5461;
}

body {
    height: 100vh;
    background: url("img/IMG-0021.jpg") no-repeat right;
    background-size: 25%;
    background-color: #686963;
    color: #FAFAFA;
    font-family: 'Source Code Pro', monospace;
}

.rosto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto-inicial {
    margin: 8%;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
}

span {
    color: var(--corDosLinks);
}

.destaque {
    font-weight: bolder;
}

.btn {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    padding: 1em;
    align-items: center;
}

.btnPrimary {
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    border: 5px solid var(--corDosLinks);
    border-radius: 10px;
    padding: 1em;
}

.btnSecondary {
    background-color: var(--corDosLinks);
    border: 5px solid transparent;
    padding: 1em;
    margin-left: 20px;
    border-radius: 10px;
  }
